@model CourseManagment.Models.ApplicationUser
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.UserName's Profile</h2>

@if (await UserManager.IsInRoleAsync(Model, "Student"))
{
    <p>Average Grade: @ViewBag.AverageGrade</p>
}
else if (await UserManager.IsInRoleAsync(Model, "Teacher"))
{
    <p>Overall Average Grade: @ViewBag.OverallAverage</p>
    <h3>Courses</h3>
    <ul>
        @foreach (var course in ViewBag.CourseAverages)
        {
            <li>@course.Course.Title: @course.Average</li>
        }
    </ul>
}

<a href="@Url.Action("ChangePassword", "Account")">Change Password</a>
<a href="@Url.Action("ChangeUsername", "Account")">Change Username</a>
<a href="@Url.Action("ChangeEmail", "Account")">Change Email</a>
